@import "bootstrap/dist/css/bootstrap.css";
/* @import 'tailwindcss'; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


.custom-navbar {
  background-color: #e3342f;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #e3342f;
}

.active
{
  color: black;
}

.about-container
{

  background: linear-gradient(
    45deg,
    rgb(255, 244, 244),
    rgb(255, 249, 249)
  );
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.pokemon-description
{
  margin: 1vh;
  border-radius: 1vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(255, 248, 248)
  );
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.pokemon-description h3
{
  border-bottom: 1px solid;
  width: 30%;
}

.evolution-family
{
  margin-top: 1vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.evolution-family .pokebox
{
  width: 20vw;
}

.evolution-family h3 {
  border-bottom: 1px solid;
  padding: 1vh;
  color: rgb(78, 88, 81);
  padding: 2vh;
}
.global-box
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.pokebox{
    font-size: 1.4em;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    height: 10em;

    background: linear-gradient(to right,
            var(--type-1) 50%,
            var(--type-2) 50%);

    color: var(--color);
    }

.typebox
{
  color :var(--text-color);
  
  text-align: center;
  padding: 1vh 4vw;
  border-radius: 20px;
  background-color: var(--color);
}

.info
{
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.legendary{
  background-color: rgb(58, 168, 150);
  padding:  10px;
  border-radius: 10px;
}

.capacity
{
  border: 1px solid var(--color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
}

.type{
  background-color: var(--color);
  padding: 10px;
  width: 100px;
  text-align: center;
  color: var(--text);

}

.name-move
{
  width: 130px;
}

.capacity-container
{
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.capacity
{
  display: flex;
  gap: 10vw;
  width: 100%;
}



.capacity-link {
    width: 100%;
    padding: 0;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.description-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    opacity: 0;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.capacity-container.open .description-container {
    max-height: 200px;
    opacity: 1;
    padding-bottom: 12px;
}

.description-container .btn
{
  background-color: rgb(151, 114, 32);
  border: none;
}

canvas
{
  width: 70vh;
  height: 70vh;
}